/****************************************
* リセットCSS
*****************************************/

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

a {
    text-decoration: none;
    color:#000;
}

ol, ul {
    list-style: none;
}

li{
    margin-right:20px;
    text-align:center;
    padding:10px 0;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}